header .link-logo {
    display: block;
    padding: 20px 25px 15px ;
    border-bottom: 2px solid darkcyan;
}

header nav ul{
    padding: 0;
    text-align: center;
}

header nav ul li{
    display:inline-block;
    margin-right: 15px; 
    border: 10px solid #00aeae; 
    background: #00aeae;
    border-radius: 20px;
}

.menu li a{
    color: whitesmoke;
    text-decoration: none;
}
.menu{
    border-bottom: 2px solid darkcyan;
}

header nav ul li:hover{
    display:inline-block;
    margin-right: 15px; 
    border: 10px solid #006f6f; 
    background: #006f6f;
    border-radius: 20px;
}